---
layout: default
title: "TLS Counseling"
description: "Terrence Salley, LPC, SEP, is a Licensed Professional Counselor and Somatic Experiencing Practitioner."
index: true
---

<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ site.client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
      "sameAs": [
                  {%- for platform in site.client.socials -%}
                    {{ platform[1] }}{% unless forloop.last %},{% endunless %}
                  {%- endfor -%}
                ]
      {% endif %}
  }
</script>

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
  <div class="cs-container">
      <h1 class="cs-title">Construction & Maintenance Experts in New York City</h1>
      <p class="cs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At quis donec eget tellus turpis imperdiet aenean libero. 
      </p>
      <a href="" class="cs-button-solid">Request Appointment</a>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="/assets/images/hero-1-m.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/hero-1-d.jpg">
      <img decoding="async" src="/assets/images/hero-1-d.jpg" alt="Colorado mountains with traffic" width="1920" height="1280" aria-hidden="true">
  </picture>
</section>
                              
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-942">
  <div class="cs-container">
      <!-- Left Content Section-->
      <div class="cs-content">
          <span class="cs-topper">Our Service</span>
          <h2 class="cs-title">What We Provide To Our Customer</h2>
          <p class="cs-text">
              Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and demi-permanent coverage.
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <picture class="cs-icon-wrapper">
                  <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
              </picture>
              <h3 class="cs-h3">Cuts & Colors</h3>
              <p class="cs-item-text">
                  From barely there pink to balayage blonde, our colour experts will nail any tone you can imagine.
              </p>
              <a href="" class="cs-link">Read More</a>
              <!--Background Image-->
              <picture class="cs-background">
                  <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair1.jpg" alt="hair cut" width="480" height="425">
              </picture>
          </li>
          <li class="cs-item">
              <picture class="cs-icon-wrapper">
                  <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
              </picture>
              <h3 class="cs-h3">Natural products</h3>
              <p class="cs-item-text">
                  From barely there pink to balayage blonde, our colour experts will nail any tone you can imagine.
              </p>
              <a href="" class="cs-link">Read More</a>
              <!--Background Image-->
              <picture class="cs-background">
                  <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair2.jpg" alt="hair cut" width="480" height="425">
              </picture>
          </li>
          <li class="cs-item">
              <picture class="cs-icon-wrapper">
                  <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
              </picture>
              <h3 class="cs-h3">Hightlight Styles</h3>
              <p class="cs-item-text">
                  From barely there pink to balayage blonde, our colour experts will nail any tone you can imagine.
              </p>
              <a href="" class="cs-link">Read More</a>
              <!--Background Image-->
              <picture class="cs-background">
                  <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair3.jpg" alt="hair cut" width="480" height="425">
              </picture>
          </li>
      </ul>
  </div>
  <!--Waves Background-->
  <picture class="cs-waves">
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
  </picture>
</section>
<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1637">
  <div class="cs-container">
      <div class="cs-content">
          <div class="cs-flex">
              <span class="cs-topper">About Us</span>
              <h2 class="cs-title">Marketing strategies & campaigns that will prioritize & maximize company profits.</h2>
          </div>
          <div class="cs-flex">
              <h3 class="cs-h3">
                  Revolutionize tour business, exceedyour goals Partner with Smartaxdynamic consulting firm.
              </h3>
              <p class="cs-text">
                  Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis dolores, veritatis soluta autem beatae officia expedita ipsum rerum doloribus sit provident delectus.
              </p>
              <a href="" class="cs-button-solid">Learn More</a>
          </div>
      </div>  
  </div>
</section>
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Contact Us</span>
          <h2 class="cs-title">Get It Done With Us Today</h2>
          <p class="cs-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis at sit pellentesque molestie.  Diam, adipiscing ultrices eu turpis gravida.
          </p>
          <a href="" class="cs-button-solid">Gret A Free Quote</a>
      </div>
  </div>
  <!-- Background Image-->
  <picture class="cs-picture">
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets-m.jpg">
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
  </picture>
</section>
                              