/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1637 {
    padding: var(--sectionPadding);
    background-color: #111926;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 100px */
      gap: clamp(3rem, 9vw, 6.25rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-flex {
      max-width: (608/16rem);
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 (16/16rem) 0;
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin-bottom: (16/16rem);
      opacity: 0.8;
      color: var(--bodyTextColorWhite);

      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-1637 {
    &:before {
      height: 63%;
    }
    .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: (40/16rem);
    }

    .cs-flex {
      width: 50%;
      text-align: left;
      max-width: (608/16rem);
    }

    .cs-title {
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #content-1637 {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-38 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280pc at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* in case you add a .cs-content to this stitch */
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      column-gap: (20/16rem);
      row-gap: (60/16rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      margin: 0;

      &:hover {
        .cs-picture {
          &:before {
            height: 100%;
          }

          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .cs-picture {
      aspect-ratio: 328/360;
      position: relative;
      display: block;
      /* Keeps image from bleeding outside the picture element */
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 0%;
        width: 100%;
        background: var(--primaryLight);
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
        transition: height 0.3s;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act like a background image */
        object-fit: cover;
        transition: transform 0.7s;
      }
    }

    .cs-box {
      /* Centers the button */
      text-align: center;
      width: 90%;
      margin: 0 auto;
      /* -32px to 48px */
      margin-top: ~"calc(clamp(2rem, 7vw, 3rem)*-1)";
      padding: (24/16rem) (16/16rem) 0;
      background: #fff;
      position: relative;
      z-index: 10;
      /* Prevents padding from adding to the total width */
      box-sizing: border-box;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      text-align: center;
      line-height: 1.2em;
      font-weight: bold;
      color: var(--headerColor);
      margin: 0 0 (16/16rem);
    }

    .cs-item-text {
      font-size: (16/16rem);
      line-height: 1.5em;
      margin: 0 0 (4/16rem);
      padding: 0;
      color: var(--bodyTextColor);
    }

    .cs-link {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      margin: auto;
      color: var(--primary);
      background-color: transparent;
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: (3/16rem);
        width: 0%;
        background: var(--primary);
        opacity: 1;
        bottom: (6/16rem);
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-38 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-card-group {
      flex-direction: row;
      align-items: stretch;
    }

    .cs-item {
      margin: 0;
    }

    .cs-picture {
      /* 360px - 430px */
      height: clamp(22.5rem, 42vw, 26.875rem);
      /* reset aspect ratio, don't need it anymore */
      aspect-ratio: initial;
    }

    .cs-box {
      width: 90%;
      padding: (24/16rem) (12/16rem);
    }

    .cs-h3 {
      /* force heading to 2 lines for consistent spacing */
      span {
        display: block;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #services-38 {
      .cs-box {
        background: var(--dark);
      }

      .cs-h3,
      .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-link {
        color: var(--primaryLight);
      }
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);

    .cs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: (1280/16rem);
      width: 100%;
      row-gap: (40/16rem);
    }

    .cs-left {
      position: relative;
      height: (636/16em);
      /* using ems so we can use font size to scale the whole section */
      width: (631/16em);
      /* scaling the font size with the view width */
      font-size: ~"min(2.31vw, 0.7em)";
    }

    .cs-picture {
      position: absolute;
      display: block;
      border-radius: (24/16em);
      /* clips img tag corners */
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes image act like a background image */
        object-fit: cover;
      }
    }

    .cs-picture1 {
      top: 0;
      left: 0;
      height: (581/16em);
      width: (522/16em);
    }

    .cs-picture2 {
      bottom: 0;
      right: 0;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      background-color: #fff;
      height: (400/16em);
      width: (414/16em);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    }

    .cs-right {
      margin: auto;
      max-width: (542/16rem);
    }

    .cs-topper {
      margin-bottom: (4/16rem);
      text-align: left;
    }

    .cs-title {
      max-width: (800/16rem);
      text-align: left;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      max-width: (750/16rem);
      text-align: left;

      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-flex-group {
      position: relative;
      border-radius: (16/16rem);
      background-color: #f7f7f7;
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
    }

    .cs-flex-p {
      margin: 0 0 (16/16rem);
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: #353535;
    }

    .cs-name {
      display: block;
      margin: 0 0 (4/16rem);
      text-transform: uppercase;
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: bold;
      color: var(--headerColor);
    }

    .cs-job {
      display: block;
      font-size: (14/16rem);
      line-height: 1.5em;
      color: #353535;
    }

    .cs-quote-icon {
      position: absolute;
      bottom: (0/16rem);
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
      height: auto;
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
    }

    .cs-button-solid {
      margin-top: (32/16rem);
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs {
    .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: (52/16rem);
    }

    .cs-left {
      font-size: ~"min(1.2vw, 1em)";
      flex: none;
    }

    .cs-right {
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs {
      .cs-left {
        &:before,
        &:after {
          background: var(--accent);
        }
      }

      .cs-picture2 {
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        background-color: var(--dark);
      }

      .cs-topper {
        color: var(--primaryLight);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-flex-p,
      .cs-name {
        color: var(--bodyTextColorWhite);
      }

      .cs-flex-group {
        background-color: var(--accent);
      }

      .cs-job {
        opacity: 0.8;
        color: var(--bodyTextColorWhite);
      }

      .cs-quote-icon {
        opacity: 0.2;
      }
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r {
    padding: var(--sectionPadding);

    .cs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: (1280/16rem);
      width: 100%;
      row-gap: (40/16rem);
    }

    .cs-left {
      position: relative;
      height: (636/16em);
      /* using ems so we can use font size to scale the whole section */
      width: (631/16em);
      /* scaling the font size with the view width */
      font-size: ~"min(2.31vw, 0.7em)";
    }

    .cs-picture {
      position: absolute;
      display: block;
      border-radius: (24/16em);
      /* clips img tag corners */
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes image act like a background image */
        object-fit: cover;
      }
    }

    .cs-picture1 {
      top: 0;
      right: 0;
      height: (581/16em);
      width: (522/16em);
    }

    .cs-picture2 {
      bottom: 0;
      left: 0;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      background-color: #fff;
      height: (400/16em);
      width: (414/16em);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    }

    .cs-right {
      margin: auto;
      max-width: (542/16rem);
    }

    .cs-topper {
      margin-bottom: (4/16rem);
      text-align: left;
    }

    .cs-title {
      max-width: (800/16rem);
      text-align: left;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      max-width: (750/16rem);
      text-align: left;
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-flex-group {
      position: relative;
      border-radius: (16/16rem);
      background-color: #f7f7f7;
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
    }

    .cs-flex-p {
      margin: 0 0 (16/16rem);
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: #353535;
    }

    .cs-name {
      display: block;
      margin: 0 0 (4/16rem);
      text-transform: uppercase;
      font-size: (16/16rem);
      line-height: 1.2em;
      font-weight: bold;
      color: var(--headerColor);
    }

    .cs-job {
      display: block;
      font-size: (14/16rem);
      line-height: 1.5em;
      color: #353535;
    }

    .cs-quote-icon {
      position: absolute;
      bottom: (0/16rem);
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
      height: auto;
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r {
    .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: (52/16rem);
    }

    .cs-left {
      /* sends it to the right */
      order: 2;
      font-size: ~"min(1.2vw, 1em)";
      flex: none;
    }

    .cs-right {
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-r {
      .cs-left {
        &:before,
        &:after {
          background: var(--accent);
        }
      }

      .cs-picture2 {
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        background-color: var(--dark);
      }

      .cs-topper {
        color: var(--primaryLight);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-flex-p,
      .cs-name {
        color: var(--bodyTextColorWhite);
      }

      .cs-flex-group {
        background-color: var(--accent);
      }

      .cs-job {
        opacity: 0.8;
        color: var(--bodyTextColorWhite);
      }

      .cs-quote-icon {
        opacity: 0.2;
      }
    }
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
    .cs-container {
      margin: auto;
      max-width: (1322/16em);
      width: 100%;
    }

    .cs-topper {
      margin-bottom: (16/16rem);
      text-align: center;
    }

    .cs-title {
      margin-bottom: (40/16rem);
      max-width: (621/16rem);
      text-align: center;
    }

    .cs-image-group {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 0 auto (60/16rem);
      max-width: (1322/16em);
      width: 100%;
      padding: 0;
      /* used rem so it doesn't scale with the font size of on parent */
      font-size: ~"min(1.1vw, 1em)";
      gap: (30/16em);
    }

    .cs-row {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: (30/16em);
    }

    .cs-picture {
      position: relative;
      display: block;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-row-1 {
      .cs-picture1 {
        height: (567/16em);
        width: (420/16em);
      }

      .cs-picture2 {
        height: (629/16em);
        width: (420/16em);
      }

      .cs-picture3 {
        height: (512/16em);
        width: (420/16em);
      }
    }

    .cs-row-2 {
      .cs-picture1 {
        height: (492/16em);
        width: (420/16em);
      }

      .cs-picture2 {
        height: (517/16em);
        width: (420/16em);
      }

      .cs-picture3 {
        height: (629/16em);
        width: (420/16em);
      }
    }

    .cs-row-3 {
      .cs-picture1 {
        height: (625/16em);
        width: (420/16em);
      }

      .cs-picture2 {
        height: (452/16em);
        width: (420/16em);
      }

      .cs-picture3 {
        height: (629/16em);
        width: (420/16em);
      }
    }
  }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #gallery {
      .cs-title {
        color: var(--bodyTextColorWhite);
      }
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;

    .cs-container {
      margin: auto;
      max-width: (1104/16rem);
      width: 100%;
    }

    .cs-topper {
      margin-bottom: (16/16rem);
      text-align: center;
    }

    .cs-title {
      max-width: (700/16rem);
      text-align: center;
    }

    .cs-text {
      /* 88px - 104px */
      margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
      max-width: (650/16rem);
      text-align: center;
    }

    .cs-card-group {
      /* 48px - 64px */
      margin: 0 auto clamp(3rem, 5vw, 4rem);
      padding: 0;
    }

    .cs-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-radius: (4/16rem);
      margin: 0 auto (64/16rem);
      background: #fff;
      max-width: (542/16rem);
      width: 100%;
      /* Prevents padding from affecting height & width */
      box-sizing: border-box;
      /* Padding L & R - 16px - 32px */
      padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
      /* 32px - 40px */
      padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
      list-style: none;
      text-align: left;
      box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cs-item-img {
      position: absolute;
      top: calc(-40 / 16 * 1rem);
      height: (80/16rem);
      width: (80/16rem);
    }

    .cs-item-p {
      border-bottom: 1px solid #e8e9ec;
      margin: 0 0 (20/16rem);
      padding-bottom: (20/16rem);
      font-size: (16/16rem);
      line-height: 1.5em;
      color: var(--bodyTextColor);
    }

    .cs-reviewer {
      display: block;
      margin: 0 auto 0 0;
      width: 40%;
      font-size: (16/16rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--headerColor);
    }

    .cs-desc {
      display: block;
      font-size: (14/16rem);
      font-weight: 400;
      color: var(#353535);
    }

    .cs-item-stars {
      height: (16/16rem);
      width: (96/16rem);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews {
    .cs-card-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: (16/16rem);
    }

    .cs-item {
      /* reset margin so it won't interfere with flexbox */
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #reviews {
      .cs-title,
      .cs-text,
      .cs-item-p,
      .cs-reviewer {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background: var(--medium);
      }

      .cs-desc {
        color: var(--primaryLight);
      }
    }
  }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #quote-561 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-topper {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--headerColor);
      margin-bottom: (4/16rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (24/16rem);

      &:before {
        /* yellow line */
        content: "";
        width: (50/16rem);
        height: 2px;
        background: var(--secondary);
        opacity: 1;
        display: block;
      }
    }

    .cs-quote {
      /* 31px - 49px */
      font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
      line-height: 1.2em;
      font-weight: 900;
      margin: 0;
      color: var(--headerColor);
    }

    .cs-name {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.7vw, 1.25rem);
      line-height: 1.2em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      color: var(--secondary);
      display: block;
      letter-spacing: 0.01em;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #quote-561 {
      background-color: var(--medium);

      .cs-quote,
      .cs-topper {
        color: var(--bodyTextColorWhite);
      }
    }
  }
}
